<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section about">
          <h2 class="logo">CarCareTech</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu sapien non tortor malesuada fringilla.
          </p>
          <div class="contact">
            <span><i class="fas fa-phone"></i> 123-456-789</span>
            <span><i class="fas fa-envelope"></i> info@example.com</span>
          </div>
          <div class="socials">
            <a href="https://www.facebook.com/?locale=es_LA"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://co.linkedin.com/"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="footer-section links">
            <h2>Enlaces</h2>
          <ul>
            <li><a href="{% url "Inicio" %}">Inicio</a></li>
            <li><a href="{% url "Servicios" %}">Servicios</a></li>
            <li><a href="{% url "SobreNosotros" %}">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        &copy; 2024 CarCareTech. Todos los derechos reservados.
      </div>
    </div>
  </footer>