<!DOCTYPE html>
<html>
<head>
    <title>Lista de vehiculos</title>
</head>
<body>
    <h1>Lista de Vehículos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Color</th>
                <th>Transmisión</th>
                <th>Documento</th>
                <th>Id tipo vehiculo</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
                <tr>
                    <td>{{ vehiculo.placa }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>{{ vehiculo.marca }}</td>
                    <td>{{ vehiculo.color }}</td>
                    <td>{{ vehiculo.transmision }}</td>
                    <td>{{ vehiculo.documento }}</td>
                    <td>{{ vehiculo.id_tipo_vehiculo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
