<!DOCTYPE html>
<html>
<head>
    <title>Lista de Mecanicos</title>
</head>
<body>
    <h1>Lista de mecanico</h1>
    <table border="1">
        <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Celular</th>
            <th>Fecha de Nacimiento</th>
            <th>Correo</th>
        </tr>
        {% for mecanico in mecanicos %}
        <tr>
            <td>{{ mecanico.Documento }}</td>
            <td>{{ mecanico.Nombre }}</td>
            <td>{{ mecanico.Apellido }}</td>
            <td>{{ mecanico.Celular }}</td>
            <td>{{ mecanico.F_Nacimiento }}</td>
            <td>{{ mecanico.Correo }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
