<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <table border="1">
        <tr>
            <th>Id_producto</th>
            <th>Id_tipo_producto</th>
            <th>Cantidad_Stock</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id_producto}}</td>
            <td>{{ producto.id_tipo_producto}}</td>
            <td>{{ producto.cantidad_stock}}</td>
            <td>{{ producto.nombre}}</td>
            <td>{{ producto.precio}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
