{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{% static 'resources/css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'resources/img/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>CarCareTech-Servicios</title>
</head>
<body>

{% include 'Navbar.html' %}

{% include 'loader.html' %}

<div class="ParentDiv">
        <h1>Lista de Servicios</h1>
        <div class="card-container">
            {% for servicio in servicios %}
            <div class="card">
                <div class="card-content">
                    <h2>{{ servicio.nombre }}</h2>
                    <p><strong>Precio:</strong> {{ servicio.precio|floatformat:"0" }}</p>
                    <p>{{ servicio.descripcion }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
</div>


{% include 'footer.html' %}

</body>
</html>
