{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{% static 'resources/css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'resources/img/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>CarCareTech-SobreNosotros</title>
</head>
<body>

{% include 'Navbar.html' %}
{% include 'loader.html' %}

<section class="services">
    <div class="service-card">
        <img src="{% static 'resources/img/sobrenosotros_mec.png' %}" >
        <h3>SOBRE NOSOTROS</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</section>

<section class="services">
    <div class="service-card">
        <img src="{% static 'resources/img/mecanico.png' %}" alt="Service 1">
        <h3>Auto Diagnosis</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="service-card">
        <img src="{% static 'resources/img/mecanismo.png' %}" alt="Service 2">
        <h3>Auto Diagnosis</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="service-card">
        <img src="{% static 'resources/img/mecanico2.png' %}" alt="Service 3">
        <h3>Auto Diagnosis</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</section>

{% include 'footer.html' %}

</body>
</html>