{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{% static 'resources/css/admin.css' %}">
    <link rel="icon" type="image/png" href="{% static 'resources/img/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>CarCareTech-Admin</title>
</head>
<body>

{% include 'ADMIN/sidebar.html' %}

<div class="content-wrapper">
    <div class="center-content">
        <h2>Lista de Clientes</h2>
        <table class="user-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Celular</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Correo</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.Nombre }}</td>
                        <td>{{ cliente.Apellido }}</td>
                        <td>{{ cliente.Documento }}</td>
                        <td>{{ cliente.Celular }}</td>
                        <td>{{ cliente.F_Nacimiento }}</td>
                        <td>{{ cliente.Correo }}</td>
                        <td>{{ cliente.Direccion }}</td>
                        <td class="acciones">
                            <a href="{% url 'editar_cliente' cliente.Documento %}" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a>
                            <a href="{% url 'eliminar_cliente' cliente.Documento %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Eliminar</a>
                            <a href="#" class="btn btn-info mostrar-vehiculos" data-documento="{{ cliente.Documento }}"><i class="fas fa-car"></i> Vehículos</a>
                        </td>
                    </tr>
                    <tr class="vehiculos-row" id="vehiculos-{{ cliente.Documento }}" style="display: none;">
                        <td colspan="8">
                            <table class="vehiculos-table">
                                <thead>
                                    <tr>
                                        <th>Placa</th>
                                        <th>Modelo</th>
                                        <th>Marca</th>
                                        <th>Color</th>
                                        <th>Transmisión</th>
                                        <th>Tipo de Vehiculo</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="vehiculos-body">
                                    <!-- Los datos de los vehículos se llenarán aquí -->
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8">No hay clientes registrados.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="content-wrapper">
            <!-- Botón para abrir el formulario de agregar cliente -->
            <button id="btnAbrirFormulario" class="btn-agregar"><i class="fas fa-plus"></i> Agregar</button>
        
            <!-- Formulario para agregar cliente oculto -->
            <form method="post" action="{% url 'agregar_cliente' %}" id="formAgregarCliente" class="formulario-agregar" style="display: none;">
                {% csrf_token %}
                <br>
                <div class="form-group">
                    <label for="id_nombre">Nombre:</label>
                    <input type="text" id="id_nombre" name="nombre" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="id_apellido">Apellido:</label>
                    <input type="text" id="id_apellido" name="apellido" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="id_documento">Documento:</label>
                    <input type="text" id="id_documento" name="documento" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="id_celular">Celular:</label>
                    <input type="text" id="id_celular" name="celular" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="id_f_nacimiento">Fecha de Nacimiento:</label>
                    <input type="date" id="id_f_nacimiento" name="f_nacimiento" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="id_correo">Correo:</label>
                    <input type="email" id="id_correo" name="correo" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="id_direccion">Dirección:</label>
                    <input type="text" id="id_direccion" name="direccion" class="form-control" required>
                </div>
                <button type="submit" class="btn-primary btn-submit"><i class="fas fa-save"></i> Guardar</button>
                <button type="button" class="btn-secondary btn-cancelar"><i class="fas fa-times"></i> Cancelar</button>
            </form>
        </div>

        <script>
            document.getElementById('btnAbrirFormulario').addEventListener('click', function() {
                document.getElementById('formAgregarCliente').style.display = 'block';
                document.getElementById('btnAbrirFormulario').style.display = 'none';
            });

            document.querySelector('.btn-cancelar').addEventListener('click', function() {
                document.getElementById('formAgregarCliente').style.display = 'none';
                document.getElementById('btnAbrirFormulario').style.display = 'block';
            });

            document.getElementById('formAgregarCliente').addEventListener('submit', function(event) {
                event.preventDefault();

                fetch('{% url "agregar_cliente" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        nombre: document.getElementById('id_nombre').value,
                        apellido: document.getElementById('id_apellido').value,
                        documento: document.getElementById('id_documento').value,
                        celular: document.getElementById('id_celular').value,
                        f_nacimiento: document.getElementById('id_f_nacimiento').value,
                        correo: document.getElementById('id_correo').value,
                        direccion: document.getElementById('id_direccion').value
                    })
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Error al agregar cliente');
                })
                .then(data => {
                    console.log(data);
                    Swal.fire({
                        icon: 'success',
                        title: 'Cliente agregado correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        location.reload();
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error al agregar cliente',
                        text: 'Por favor, intenta nuevamente',
                        showConfirmButton: true
                    });
                });
            });

            document.querySelectorAll('.mostrar-vehiculos').forEach(function(element) {
                element.addEventListener('click', function(event) {
                    event.preventDefault();
                    const documento = this.getAttribute('data-documento');
                    const vehiculosRow = document.getElementById(`vehiculos-${documento}`);
                    const vehiculosBody = vehiculosRow.querySelector('.vehiculos-body');
                    
                    if (vehiculosRow.style.display === 'none') {
                        fetch(`/admin_panel/clientes/obtener_vehiculos/${documento}/`)
                            .then(response => response.json())
                            .then(data => {
                                vehiculosBody.innerHTML = '';
                                data.forEach(vehiculo => {
                                    const editarUrl = `{% url 'editar_vehiculo' 'placa' %}`.replace('placa', vehiculo.placa);
                                    const row = document.createElement('tr');
                                    row.innerHTML = `
                                        <td>${vehiculo.placa}</td>
                                        <td>${vehiculo.modelo}</td>
                                        <td>${vehiculo.marca}</td>
                                        <td>${vehiculo.color}</td>
                                        <td>${vehiculo.transmision}</td>
                                        <td>${vehiculo.id_tipo_vehiculo__nombre}</td>
                                        <td>
                                            <a href="${editarUrl}" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a>
                                        </td>
                                    `;
                                    vehiculosBody.appendChild(row);
                                });
                                vehiculosRow.style.display = '';
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error al obtener vehículos',
                                    text: 'Por favor, intenta nuevamente',
                                    showConfirmButton: true
                                });
                            });
                    } else {
                        vehiculosRow.style.display = 'none';
                    }
                });
            });
            
        </script>
    </div>
</div>

</body>
</html>
