{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Editar Empresa</title>
    <link rel="stylesheet" href="{% static 'resources/css/admin.css' %}">
    <link rel="icon" type="image/png" href="{% static 'resources/css/admin.css' %}">
    <link rel="icon" type="image/png" href="{% static 'resources/img/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
</head>
<body>

{% include 'ADMIN/sidebar.html' %}

<div class="content-wrapper">
    <div class="center-content">
        <h2 class="form-title">Editar Empresa</h2>
        <form method="post" class="formulario-editar" id="editarUsuarioForm">
            {% csrf_token %}
            <input type="hidden" name="nit" value="{{ empresa.nit }}">
            <div class="form-group">
                <label for="id_nombre">Nombre:</label>
                <input type="text" id="id_nombre" name="nombre" value="{{ empresa.nombre }}" required>
            </div>
            <div class="form-group">
                <label for="id_telefono">Telefono:</label>
                <input type="number" id="id_telefono" name="telefono" value="{{ empresa.telefono }}" required>
            </div>
            <div class="form-group">
                <label for="id_correo">Correo:</label>
                <input type="email" id="id_correo" name="correo" value="{{ empresa.correo }}" required>
            </div>
            <div class="form-group">
                <label for="id_direccion">Direccion:</label>
                <input type="text" id="id_direccion" name="direccion" value="{{ empresa.direccion }}" required>
            </div>

            <button type="submit" class="btn-submit">Guardar Cambios</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('editarUsuarioForm').addEventListener('submit', function(event) {
        event.preventDefault();

        fetch(window.location.href, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                nombre: document.getElementById('id_nombre').value,
                telefono: document.getElementById('id_telefono').value,
                correo: document.getElementById('id_correo').value,
                direccion: document.getElementById('id_direccion').value,
            })
        })
        .then(response => {
            if (response.ok) {
                Swal.fire({
                    icon: 'success',
                    title: 'Empresa actualizado',
                    showConfirmButton: false,
                    timer: 1500
                })
                .then(() => {
                    window.location.href = '{% url 'ad_empresas' %}';
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error al actualizar la empresa',
                    text: 'Por favor, intenta nuevamente',
                    showConfirmButton: true
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>

</body>
</html>
