<nav class="main-menu">
    <ul>
        <li>
            <a href="{% url 'admin_view' %}">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                   Inicio
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a href="{% url 'ad_usuarios' %}">
                <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                    Usuarios
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="{% url 'ad_vehiculosa' %}">
               <i class="fa fa-car fa-2x"></i>
                <span class="nav-text">
                    Vehiculos
                </span>
            </a>
            
            
        </li>
        <li class="has-subnav">
            <a href="{% url 'ad_productos' %}">
               <i class="fa fa-shopping-bag fa-2x"></i>
                <span class="nav-text">
                    Productos
                </span>
            </a>
        </li>
        <li>
            <a href="{% url 'ad_servicios' %}">
                <i class="fa fa-wrench fa-2x"></i>
                <span class="nav-text">
                    Servicios
                </span>
            </a>
        </li>
        <li>
            <a href="{% url 'ad_clientes' %}">
                <i class="fa fa-address-book fa-2x"></i>
                <span class="nav-text">
                    Clientes
                </span>
            </a>
        </li>
        <li>
            <a href="{% url 'ad_factura'%}">
                <i class="fa fa-credit-card fa-2x"></i>
                <span class="nav-text">
                   Factura
                </span>
            </a>
        </li>

        <li>
            <a href="{% url 'ad_empresas'%}">
                <i class="fa fa-building fa-2x"></i>
                <span class="nav-text">
                   Empresa
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
           <a href="{% url 'logout' %}">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>