{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{% static 'resources/css/admin.css' %}">
    <link rel="icon" type="image/png" href="{% static 'resources/img/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>CarCareTech-Admin</title>
</head>
<body>

{% include 'ADMIN/sidebar.html' %}

<section class="fondo">
<div class="content-wrapper">
    <div class="center-content">
        <h2>Lista de Vehículos</h2>
        <input type="text" id="searchInput" placeholder="Buscar Vehículos..." class="search-bar">
        <div class="centraragregar">
        <div class="botones">
        <!-- Botón para abrir el formulario de agregar vehículo -->
            <button id="btnAbrirFormulario" class="btn-agregar"><i class="fas fa-plus"></i> Agregar</button>
            <a href="{% url 'ad_tvehiculos' %}"><button class="btn-agregar"><i class="fas fa-mouse-pointer"></i> Tipos de Vehiculos</button></a>
        </div>

<!-- Formulario para agregar vehículo oculto -->
<form method="post" action="{% url 'agregar_vehiculosa' %}" id="formAgregarUsuario" class="formulario-agregar" style="display: none;">
    {% csrf_token %}
    <br>
    <div class="form-group">
        <label for="id_placa">Placa:</label>
        <input type="text" id="id_placa" name="placa" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="id_modelo">Modelo:</label>
        <input type="text" id="id_modelo" name="modelo" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="id_marca">Marca:</label>
        <input type="text" id="id_marca" name="marca" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="id_color">Color:</label>
        <input type="text" id="id_color" name="color" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="id_transmision">Transmisión:</label>
        <input type="text" id="id_transmision" name="transmision" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="id_documento">Documento Cliente:</label>
        <select id="id_documento" name="documento" class="form-control" required>
            <option value="" disabled selected>Seleccionar Rol</option>
            {% for cliente in clientes %}
            <option value="{{ cliente.Documento }}">{{ cliente.Nombre }} - {{ cliente.Documento }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="id_id_tipo_vehiculo">Tipo Vehiculo</label>
        <select id="id_id_tipo_vehiculo" name="id_tipo_vehiculo" class="form-control" required>
            <option value="" disabled selected>Seleccionar Rol</option>
            {% for tipo_vehiculo in tipos_vehiculo %}
            <option value="{{ tipo_vehiculo.id_tipo_vehiculo }}">{{ tipo_vehiculo.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn-primary btn-submit"><i class="fas fa-save"></i> Guardar</button>
    <button type="button" class="btn-secondary btn-cancelar"><i class="fas fa-times"></i> Cancelar</button>
</form>
</div>

        
        <table class="user-table">
            <thead>
                <tr>
                    <th>Placa</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Color</th>
                    <th>Transmisión</th>
                    <th>Cliente</th>
                    <th>Tipo de Vehículo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="userTableBody">
                {% for vehiculo in vehiculos %}
                    <tr>
                        <td>{{ vehiculo.placa }}</td>
                        <td>{{ vehiculo.modelo }}</td>
                        <td>{{ vehiculo.marca }}</td>
                        <td>{{ vehiculo.color }}</td>
                        <td>{{ vehiculo.transmision }}</td>
                        <td>{{ vehiculo.documento }}</td>
                        <td>{{ vehiculo.id_tipo_vehiculo }}</td>
                        <td class="acciones">
                            <a href="{% url 'editar_vehiculosa' vehiculo.placa %}" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a>
                            <a href="{% url 'eliminar_vehiculosa' vehiculo.placa %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Eliminar</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8">No hay vehículos registrados.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>

        <div id="paginationControls" class="pagination-controls"></div>
    </div>
</div>
    </section>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const tableBody = document.getElementById('userTableBody');
                const rows = tableBody.querySelectorAll('tr');
                const rowsPerPage = 5;
                let currentPage = 1;
        
                function displayRows(page) {
                    const start = (page - 1) * rowsPerPage;
                    const end = start + rowsPerPage;
        
                    rows.forEach((row, index) => {
                        if (index >= start && index < end) {
                            row.style.display = '';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                }
        
                function generatePaginationButtons() {
                    const paginationControls = document.getElementById('paginationControls');
                    paginationControls.innerHTML = '';
        
                    const pageCount = Math.ceil(rows.length / rowsPerPage);
        
                    for (let i = 1; i <= pageCount; i++) {
                        const button = document.createElement('button');
                        button.innerText = i;
                        button.classList.add('pagination-button');
        
                        if (i === currentPage) {
                            button.classList.add('active');
                        }
        
                        button.addEventListener('click', function() {
                            currentPage = i;
                            displayRows(currentPage);
        
                            const buttons = paginationControls.querySelectorAll('.pagination-button');
                            buttons.forEach(btn => btn.classList.remove('active'));
                            this.classList.add('active');
                        });
        
                        paginationControls.appendChild(button);
                    }
                }
        
                displayRows(currentPage);
                generatePaginationButtons();
            });
        
            document.getElementById('btnAbrirFormulario').addEventListener('click', function() {
                document.getElementById('formAgregarUsuario').style.display = 'block';
                document.getElementById('btnAbrirFormulario').style.display = 'none';
            });
        
            document.querySelector('.btn-cancelar').addEventListener('click', function() {
                document.getElementById('formAgregarUsuario').style.display = 'none';
                document.getElementById('btnAbrirFormulario').style.display = 'block';
            });
        
            document.getElementById('formAgregarUsuario').addEventListener('submit', function(event) {
                event.preventDefault();
        
                fetch('{% url "agregar_vehiculosa" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        placa: document.getElementById('id_placa').value,
                        modelo: document.getElementById('id_modelo').value,
                        marca: document.getElementById('id_marca').value,
                        color: document.getElementById('id_color').value,
                        transmision: document.getElementById('id_transmision').value,
                        documento: document.getElementById('id_documento').value,
                        id_tipo_vehiculo: document.getElementById('id_id_tipo_vehiculo').value
                    })
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Error al agregar vehículo');
                })
                .then(data => {
                    console.log(data);
                    Swal.fire({
                        icon: 'success',
                        title: 'Vehículo agregado correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        location.reload();
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error al agregar vehículo',
                        text: 'Por favor, intenta nuevamente',
                        showConfirmButton: true
                    });
                });
            });
        
            document.getElementById('searchInput').addEventListener('input', function() {
                const filter = this.value.toLowerCase();
                const rows = document.querySelectorAll('#userTableBody tr');
        
                rows.forEach(row => {
                    const cells = row.querySelectorAll('td');
                    const match = Array.from(cells).some(cell => cell.textContent.toLowerCase().includes(filter));
                    row.style.display = match ? '' : 'none';
                });
            });
        </script>
        
</body>
</html>
