{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{% static 'resources/css/admin.css' %}">
    <link rel="icon" type="image/png" href="{% static 'resources/img/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>CarCareTech-Admin</title>
</head>
<body>

{% include 'ADMIN/sidebar.html' %}

<div class="content-wrapper">
    {% include 'ADMIN/Factura/btns-detalles.html' %}
    <form method="post" id="editarDetalleForm" class="formulario-editar">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit">Guardar Cambios</button>
    </form>
</div>

<script>
    document.getElementById('editarDetalleForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch(window.location.href, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData
        })
        .then(response => {
            if (response.ok) {
                Swal.fire({
                    icon: 'success',
                    title: 'Detalle de servicio actualizado',
                    showConfirmButton: false,
                    timer: 1500
                })
                .then(() => {
                    window.location.href = '{% url "detalles_servicio" %}';
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error al actualizar el detalle de servicio',
                    text: 'Por favor, intenta nuevamente',
                    showConfirmButton: true
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>

</body>
</html>
